Rules-Requires-Root: no
Standards-Version: 4.5.1
Build-Depends: debhelper-compat (= 13), dh-sequence-python3, python3-all
Source: buildlog-consultant
Priority: optional
Section: python
Maintainer: Jelmer Vernooĳ <jelmer@debian.org>

Package: python3-python-buildlog-consultant
Architecture: all
Depends: ${misc:Depends}
Description: buildlog parser and analyser
